<h1>Event number: <%= @event.id %></h1>

<p>Location: <%= @event.location %></p>

<p>Date: <%= @event.date %></p>

<p>Attendees: (<%= @event.attendees.count %>):</p>
<ol>
  <% @event.attendees.each do |attendee| %>
    <li><%= attendee.name %></li>
  <% end %>
</ol>

<br>

<div>
  <%= button_to "Attend this event", event_reservations_path(@event), method: :post %>
</div>

<div>
  <%= button_to "Cancel attendance", event_reservations_path(@event), method: :delete %>
</div>

<div>
  <%= link_to "Back to events", events_path %>
</div>

