<h1>Event number: <%= @event.id %></h1>

<p>Location: <%= @event.location %></p>

<p>Date: <%= @event.date %></p>

<div>
  <%= button_to "Attend this event", event_reservations_path(@event), method: :post %>
</div>

<div>
  <%= link_to "Back to events", events_path %>
</div>

